$background : rgb(12, 12, 12);

body, html {
  background: $background;
  font-family: Raleway;
  font-size: 14px;
  color: #fff;
  height: 100%;
}

.navbar{
  font-weight: 700;
 font-size: 16px;
  padding: 20px 0;
}
.navbar-brand img {
  width: 100%;
  max-width: 120px;
}