.header {
  width: 100%;
  justify-content: space-between;
  z-index: 3;
  width: 100%;
  position: relative;
  top: 0;
  padding: 1em 0;
  &__logo {
    width: 132px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
  }
}