.header {
  width: 100%;
  justify-content: space-between;
  z-index: 99!important;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 1em 0;
  background-color: rgba(#000,.9);
  &__logo {
    max-width: 132px;
    height: 30px;
    position: relative;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    
  }
}