.main {
  width: 100%;
  margin-top: 63px;
  // height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__title {
    text-align: center;
    // padding: 0 2em;
    font-size: 50px;
  }
  &__span {
    background: linear-gradient(to right, #134ac2, rgb(34, 163, 223));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__subtitle {
    display: none;
   
  }
}